.movies-card-list {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 58px;
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 360px);
    justify-items: center;
    justify-content: center;
    max-width: calc(100% - 140px);
  }
}

@media screen and (max-width: 900px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 339px);
    max-width: calc(100% - 60px);
    row-gap: 45px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card-list {
    grid-template-columns: repeat(1, 1fr);
    max-width: calc(100% - 60px);
    row-gap: 45px;
  }
}

@media screen and (max-width: 410px) {
  .movies-card-list {
    max-width: calc(100% - 20px);
    row-gap: 36px;
  }
}
