.movies-card-list__grid {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 58px;
}

@media screen and (max-width: 1279px) {
  .movies-card-list__grid {
    grid-template-columns: repeat(2, 360px);
    justify-items: center;
    justify-content: center;
    max-width: calc(100% - 140px);
  }
}

@media screen and (max-width: 900px) {
  .movies-card-list__grid {
    grid-template-columns: repeat(2, 339px);
    max-width: calc(100% - 60px);
    row-gap: 45px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card-list__grid {
    grid-template-columns: repeat(1, 1fr);
    max-width: calc(100% - 60px);
    row-gap: 45px;
  }
}

@media screen and (max-width: 410px) {
  .movies-card-list__grid {
    max-width: calc(100% - 20px);
    row-gap: 36px;
  }
}

.movies-card-list__more-button {
  cursor: pointer;
  border: none;
  width: 410px;
  height: 36px;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #000;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s ease-in-out;
}

.movies-card-list__more-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 410px) {
  .movies-card-list__more-button {
    width: 240px;
  }
}

.movies-card-list__button-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 75px 0 90px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 410px) {
  .movies-card-list__button-container {
    max-width: 300px;
    padding: 60px 0 99px;
  }
}
