.footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 70px 70px 20px 70px;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 708px;
    padding: 79px 30px 20px 30px;
  }
}

@media screen and (max-width: 410px) {
  .footer {
    max-width: 300px;
    padding: 61px 10px 20px 10px;
  }
}

.footer__title {
  margin: 0 0 20px;
  padding: 0;
  color: #a0a0a0;
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 400;
}

@media screen and (max-width: 410px) {
  .footer__title {
    margin: 0 0 21px;
    font-size: 0.75rem;
  }
}

.footer__divider {
  margin: 0;
  padding: 0;
  border: 1px solid #e8e8e8;
  max-width: 1140px;
}

@media screen and (max-width: 768px) {
  .footer__divider {
    max-width: 708px;
  }
}

@media screen and (max-width: 410px) {
  .footer__divider {
    max-width: 300px;
  }
}

.footer__container {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 410px) {
  .footer__container {
    margin: 31px 0 0;
    max-width: 708px;
  }
}

@media screen and (max-width: 410px) {
  .footer__container {
    max-width: 300px;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 30px;
  }
}

.footer__text {
  margin: 0;
  padding: 0;
  color: #000;
  text-align: right;
  font-size: 0.8125rem;
  font-weight: 400;
  text-decoration: none;
}

@media screen and (max-width: 410px) {
  .footer__text {
    font-size: 0.75rem;
  }
}

.footer__text-container {
  display: flex;
  column-gap: 20px;
}

@media screen and (max-width: 410px) {
  .footer__text-container {
    flex-direction: column;
    align-items: center;
    row-gap: 13px;
  }
}
