.toggle {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
}

.toggle__input {
  width: 1px;
  height: 1px;
  /* display: none; */
}

.toggle__span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c4c4c4;
  transition: 0.4s;
  border-radius: 20px;
}

.toggle__span:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  right: 22px;
  bottom: 2px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle__input:checked + .toggle__span {
  background-color: #2be080;
}

.toggle__input:checked + .toggle__span:before {
  transform: translateX(20px);
}